#Descripción


*   @Author: Sergio David Mesa Buitrago
*   @Date: 12/02/2022
*   @Description:



*   Ejercicios basicos 1



*   Ejercicio 1: productos +IVA

In [ ]:
producto1 = int(input('input 1 product: '))
producto2 = int(input('input 2 product :'))
producto3 = int(input('input 3 product :'))
producto4 = int(input('input 4 product :'))
producto5 = int(input('input 5 product :'))

suma = (producto1+producto2+producto3+producto4+producto5)
iva = suma*0.19
total= suma+iva
print('Valor bruto',suma,"\nIVA",iva,"\nTOTAL: ", total)

input 1 product: 12
input 2 product :21
input 3 product :43
input 4 product :54
input 5 product :56
Valor bruto 186
IVA 35.34
TOTAL:  221.34

### Version Python

In [ ]:
pro1, pro2, pro3, pro4, pro5=input("input 1°,2°,3°,4° and 5° product with, separate: ").split(",")
suma=(pro1+pro2+pro3+pro4+pro5)
print('"valor bruto:',suma,'\nIVA',(suma+0.19),"\nTOTAl:",(suma+(suma+0.19)))

ejercicio 2 mayor y menor

In [ ]:
numbers= []

for n in range(3):
  number=int(input('Enter to numbers #{}:'.format(n+1)))
  numbers.append(number)

mayor= numbers[0]
menor= numbers[0]
promedio= (numbers[0]+numbers[1]+numbers[2])/3
print("promedio",promedio)
for number in numbers:
   if number> mayor:
     mayor=number
   else:
    if(number< menor):
      menor=number


print('mayor: ', mayor )
print('menor: ', menor)

Enter to numbers #1:1
Enter to numbers #2:2
Enter to numbers #3:3
2.0
mayor:  3
menor:  1

Ejercicio 3

Vector Dinamico

In [1]:
lenght= int(input('Enter to lenght :'))

numbers=[]

for n in range(lenght):
  number=int(input('Enter to numbers #{} '.format(n+1)))
  numbers.append(number)

numbers.sort()
print('Lista ordenada',numbers)

Enter to lenght :8
Enter to numbers #1 1
Enter to numbers #2 5
Enter to numbers #3 9
Enter to numbers #4 7
Enter to numbers #5 6
Enter to numbers #6 4
Enter to numbers #7 3
Enter to numbers #8 2
Lista ordenada [1, 2, 3, 4, 5, 6, 7, 9]